*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# backup and temporary files #
*~

# Eclipse
*.classpath
*.project
*.settings

# IntelliJ IDEA
.idea
*.iml

# Maven
# common/target/*
# taskexec/target/*
# ui/target/*

# Gradle
.gradle/*
build/*
common/build/*
taskexec/build/*
ui/build/*

# JADE
APDescription.txt
MTPs-Main-Container.txt

# Platform temporary files
taskexec/files/*
